<footer class="bg-white-900 text-black py-6">
  <div class="container mx-auto text-center">
    <h2 class="font-poppins text-l mb-4 text-icons">Questions or comments? Contact us at (310) PL8-CHAT or info </h2>
    <div class="flex justify-center space-x-6 text-icons">
      <!-- YouTube -->
      <a href="#" target="_blank" aria-label="YouTube" class="hover:text-red-500">
        <i class="fab fa-youtube text-3xl"></i>
      </a>
      <!-- TikTok -->
      <a href="#" target="_blank" aria-label="TikTok" class="hover:text-black">
        <i class="fab fa-tiktok text-3xl"></i>
      </a>
      <!-- X (Twitter) -->
      <a href="#" target="_blank" aria-label="X" class="hover:text-blue-400">
        <i class="fab fa-x-twitter text-3xl"></i>
      </a>
      <!-- Instagram -->
      <a href="#" target="_blank" aria-label="Instagram" class="hover:text-pink-500">
        <i class="fab fa-instagram text-3xl"></i>
      </a>
      <!-- Instagram -->
      <a href="#" target="_blank" aria-label="Facebook" class="hover:text-blue-600">
        <i class="fab fa-facebook text-3xl"></i>
      </a>
    </div>
    <p class="font-poppins mt-4 text-sm text-secondary">&copy; PL8CHAT LLC, 2024 | All rights reserved.</p>
  </div>
</footer>
