<div class="flex font-poppins justify-center items-center h-5967px w-3600 bg-white">
    <!-- Container for the label and button -->
    <div class="p-4 rounded-lg flex flex-col justify-center items-start w-full max-w-lg">
     
      <label class="text-lg font-poppins text-primary mb-20 text-left w-full">Reset your password on PL8CHAT</label>
      <div class="w-full flex flex-col items-center">
      
        <label class="text-lg font-poppins text-primary mb-6 text-center">To reset, click below</label>
        <button
          class="bg-emerald-800 rounded-full mb-20 text-white font-semibold py-2 px-6 hover:bg-emerald-500"
          (click)="resetPassword()" href="#"
        >
          Reset Password
        </button>
      </div>
      <label class="mb-2 text-left">Thanks for being part of our community.</label>
      <label class="mb-2 text-left">The PL8CHAT Team</label>
      <label class="mb-0 text-center font-mono text-gray-400 font-extrabold">&nbsp;___________________________________________________</label>
      <hr/>
    </div>
  </div>
  
  <app-footer></app-footer>
  